#header-nav {
 background: #047BD5;  
height: 60px;
  border-radius: 0;
  border: 0;
 
margin-bottom: 15px;
 width:auto; 

}

#logo-img
{
  
 padding-top: 5px;
  
}

.navbar-brand {
padding-top: 10px;
 padding-left:0px;
} 
.navbar-brand h1{ /company name/
  font-family: 'Riona', sans-serif;
  color:white;
  font-style:italic;
  font-style: bold;
font-size: 1.3em;
  text-transform: capitalize;
font-weight:bold;
  text-shadow: 1px 1px 1px black;
  text-align: center;

padding-left: 5px;
  margin: 10px;
  line-height: .75;
}

.navbar-brand p { /* Kosher cert */
  color: #F6FF33  ;
  text-transform: uppercase;
  font-size: .6em;
  
 
  text-shadow: 1px 1px 1px #F6FF33 ;
  text-align: center;
}

.main phones{
  
  width: 100%;
  box-sizing: border-box;
}

#android{
 
  padding-left: 320px;
  margin-bottom: 40px;
}

#android img{
  width:250px;
}
#ios{
  padding-left: 80px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
#ios img{
  width: 210px;
}
h1{
  font-weight: bold;
  text-align: center
}
h2{
  text-align: center;
  font-weight: 600;
}

.samsung img{
  height: 120px;
  margin-left:50px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.oppo img{
  height: 120px;
  margin-left:90px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.vivo img{
  height: 100px;
  margin-left:90px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.oneplus img{
  height: 100px;
  margin-left:90px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.mi img{
  height: 80px;
  margin-left:90px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.motorola img{
  height: 100px;
  margin-left:90px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.panel-footer {
  margin-top: 80px;
  padding-top: 35px;
 

height: 250px;
width: 100%;
  background-image: radial-gradient(circle,gray 0%,white 100%);
}

#About, #Social{
  line-height: 2;
}
#About > span, #Social > span {
  font-size: 1.3em;
}

#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}

#text-center{
  text-align: center;
  font-style: italic;
}

#About{
  padding-left: 300px;
}

#Social{
  padding-left: 150px;
}

.Shead
{
text-align: center;
}

.centering
{
  text-align: center;
}

.parrangement
{
margin-top:50px;
margin-left:0px;
}

.arrangement 
{
 margin-top: 50px;
 margin-bottom: 15px;
 margin-left: 0px;
}

@media(max-width: 468px){

  #android img{

    width:160px;
}
  #ios img{
    
    width: 135px;
}
  #android{
 
    padding-left: 50px;
}
#ios{
 padding-left: 20px;
}
h1{
  font-weight: 600;
  font-size: small;
}
 
.mySlides{

    width: 100%;
    height: auto;
    }

.w3-content w3-section{

    margin-left: 50px;
    margin-right: 50px;

}
 
.samsung img{
  height: 120px;
  margin-left:35px;
  margin-bottom: 10px;
  margin-top: 30px;

}

.oppo img{
  height: 120px;
  margin-left:35px;
  margin-bottom: 10px;
  margin-top: 30px;

}

.vivo img{
  height: 100px;
  margin-left:40px;
  margin-bottom: 20px;
  margin-top: 10px;

}

.oneplus img{
  height: 100px;
  margin-left:75px;
  margin-bottom: 20px;
  margin-top: 10px;

}

.mi img{
  height: 80px;
  margin-left:45px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.motorola img{
  height: 100px;
  margin-left:70px;
  margin-bottom: 20px;
  margin-top: 20px;

}
 
.panel-footer {
  margin-top: 20px;
  padding-top: 20px;
  height: 500px;
  background-image: none;
  background-color: lightgrey;
}
#About{
  padding-left: 130px;
}

#Social{
  padding-left: 130px;
}

#About > span, #Social > span {
  font-size: 600;
}
}
